*.tfstate*
.terraform/*
*~
*.pyc
__pycache__
kubeconfig
*.swp
node_modules
*.egg-info
.coverage
doc/build
build
apps/ux-improvements/static/css
apps/ux-improvements/static/js
apps/ux-improvements/node_modules
.DS_Store
