{% extends base %}
{% block js_resources %}
    <!-- Bug in bokeh 0.13.0 js_resources means css_resources -->
    <!-- replace bokeh.min.css and bokeh-widgets.min.css -->
    <link rel="stylesheet" href="static/css/bokeh.css" type="text/css">
    <link rel="stylesheet" href="static/css/bokeh-widgets.css" type="text/css">
    <link rel="stylesheet" href="wcssp/static/css/forest.css" type="text/css">
{% endblock %}
{% block css_resources %}
    <!-- Bug in bokeh 0.13.0 css_resources means js_resources -->
    {{ super() }}
    <script src="wcssp/static/js/forest.js"></script>
{% endblock %}
