body {
    margin: 0;
}

h3 {
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 100;
}

.headline-container {
    margin-left: 410px;
    width: 800px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Flex-box layout nav, figures, footer */
.flex-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.flex-nav {
    display: flex;
    flex: 0 0 40px;
}
.flex-figures {
    display: flex;
    flex: 1 1;
}
.flex-footer {
    display: flex;
    flex: 0 1;
}
.abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.abs-top-left {
    position: absolute;
    top: 0;
    left: 0;
}
.abs-top-middle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.abs-bottom-middle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.z-index-5 {
    z-index: 5;
}
.display-none {
    display: none;
}
.display-block {
    display: block;
}
.margin-left-1em {
    margin-left: 1em;
}
.panel-title-container {
    overflow: hidden;
    padding: 10px;
    font-size: 1.5em;
}
.settings-icon {
    margin: 10px;
    padding: 10px;
    z-index: 4;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    background-color: white;
    border-radius: 50%;
}
.settings-icon:hover {
    color: black;
}
.close-icon {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}
.close-icon:hover {
    color: rgba(255, 0, 0, 0.8);
}
.font-family-helvetica {
    font-family: Helvetica, Arial, sans-serif;
}

/* Navigation */
nav {
    color: black;
    background-color: white;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.7);
    z-index: 5;
    width: 100%;
}
footer {
    z-index: 5;
    width: 100%;
}
.time {
    color: black;
    background-color: white;
    box-shadow: 0px -2px 4px -2px rgba(0, 0, 0, 0.7);
    width: 100%;
}

/* Title content */
.title {
    color: rgb(47, 47, 47);
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 10px;
    padding: 5px 10px;
    font-size: 1em;
    border: 1px solid #E6E6E6;
}

/* Diagrams drawer */
.diagrams {
    height: 100%;
    width: 0;
    z-index: 5;
    overflow-x: hidden;
    transition: 0.2s;
    background-color: white;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.7);
}

/* Side navigation */
.panel {
    background-color: white;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    overflow-x: hidden;
    transition: 0.2s;
}
.panel-open {
    width: 370px;
    padding: 10px;
}
.panel-close {
    width: 0;
    padding: 0;
}

#figures {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Atomic CSS */
.display-none {
    display: none;
}
.display-inline-block {
    display: inline-block;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.margin-left-110 {
    margin-left: 110px;
}


/* Bokeh roots */
.keypress-hidden-btn {
    display: none !important;
}


/* Modal component */
.bk.custom {
    font-size: 1.4rem;
}
