.bk-root .bk-bs-btn {
    background-color: LightGrey;
    border-color: Black;
    color: Black;
}

.bk-root .bk-bs-btn.bk-bs-active {
    border-color: Black;
}

.bk-root .bk-bs-btn:hover {
    background-color: White;
    border-color: Black;
    color: Black;
}
