body {
    background-color: white;
    margin: 0;
}

.bk-widget .bk-bs-btn {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.bk-widget .bk-bs-btn:hover {
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
}

.bk-widget .bk-bs-btn-default.bk-bs-active {
    border: 1px solid black;
    background-color: whitesmoke;
}
