{% extends base %}

<!-- Note: roots.attname raises ValueError if attname not found
           see bokeh.embed.util.RenderRoots.__getitem__
-->
{% macro safe_embed(name) %}
    {% for root in roots %}
        {% if root.name == name %}
           {{ embed(roots | attr(name)) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block postamble %}
<link rel="stylesheet" href="forest/static/style.css" type="text/css" media="all">

<link rel="stylesheet" href="forest/static/font-awesome/css/all.css" type="text/css" media="all">

<script src="forest/static/script.js" charset="utf-8"></script>
<script src="forest/static/forest-min.js" charset="utf-8"></script>
{% endblock %}

{% block contents %}
    <div class="flex-container">
    <!--
    <nav class="flex-nav">
        <div class="display-inline-block float-left">
            {{ safe_embed('sidenav_button') }}
        </div>
        <div class="margin-left-110 display-inline-block float-left">
            {{ safe_embed('headline') }}
        </div>
        <!- - Embed optional button - ->
        <div class="float-right">
            {{ safe_embed('diagrams_button') }}
        </div>
    </nav>
    -->

    <!-- Layout figure row -->
    <div id="figures" class="flex-figures" style="position:relative;">
        <i class="fa fa-expand fa-2x settings-icon abs-top-right" id="full-screen-icon"></i>

        <!-- Diagram drawer -->
        <div id="diagrams" class="diagrams abs-top-right">
                <div class="panel-title-container">
                    <span class="close-icon"><i class="fas fa-window-close" onclick="closeId('diagrams')"></i></span><span class="margin-left-1em font-family-helvetica">Analysis</span>
                </div>
                {{ safe_embed('series') }}
        </div>

        <div class="abs-top-left" style="z-index:4;">
            <i class="fa fa-cog fa-2x settings-icon" id="settings-icon"></i>
            <i class="fa fa-chart-line fa-2x settings-icon" id="diagrams-icon"></i>
            <i class="fa fa-book-open fa-2x settings-icon" id="info-icon"></i>

            <!-- Control panel drawer -->
            <div id="sidenav" class="panel panel-close">
                <div id="controls-container" class="display-block">{{ safe_embed('controls') }}</div>
                <div id="modal-container" class="display-none">{{ safe_embed('modal') }}</div>
            </div>
        </div>
        {{ safe_embed('figures') }}

        <!-- Colorbars -->
        <div class="abs-bottom-middle z-index-5">
            {{ safe_embed('colorbar') }}
        </div>

        <!-- Title -->
        <div id="info" class="font-family-helvetica abs-top-middle z-index-5 title">
            {{ safe_embed('title') }}
        </div>

    </div>
    <footer class="flex-footer">
        <div id="time" class="time">
            {{ safe_embed('time') }}
        </div>
    </footer>
    </div>

    <!-- Bokeh document roots -->
    {% for doc in docs %}
        {% for root in doc.roots %}
            <div class="display-none">
            {{ embed(root) }}
            </div>
        {% endfor %}
    {% endfor %}

    <script charset="utf-8">

        // Settings icon
        let elSettings = document.getElementById("settings-icon")
        elSettings.addEventListener("click", () => {
            let el = document.getElementById("sidenav")
            if (el.classList.contains("panel-open")) {
                el.classList.remove("panel-open")
                el.classList.add("panel-close")
            } else {
                el.classList.add("panel-open")
                el.classList.remove("panel-close")
            }
        })

        // Diagrams icon
        let elDiagrams = document.getElementById("diagrams-icon")
        elDiagrams.addEventListener("click", () => {
            let el = document.getElementById("diagrams")
            let width = "400px"
            if (el.style.width !== width) {
                el.style.width = width
            } else {
                el.style.width = "0"
            }
        })

        // Title icon
        let elTitle = document.getElementById("info-icon")
        elTitle.addEventListener("click", () => {
            let el = document.getElementById("info")
            if (el.style.display === "") {
                el.style.display = "none"
            } else if (el.style.display === "block") {
                el.style.display = "none"
            } else {
                el.style.display = "block"
            }
        })

        // Full screen icon
        let elIcon = document.getElementById("full-screen-icon")
        elIcon.addEventListener("click", () => {
            let elExpand = document.getElementById("figures")
            if (getFullscreenElement()) {
                closeFullscreen()
            } else {
                openFullscreen(elExpand)
            }
        })

        // Style button given full screen state
        let events = [
                "fullscreenchange",
                "mozfullscreenchange",
                "webkitfullscreenchange",
                "msfullscreenchange"]
        events.forEach((event) => {
            document.addEventListener(event, () => {
                // Event fired before document.fullScreenElement update
                // hence use of ! to negate falsy null
                if (!getFullscreenElement()) {
                    elIcon.classList.remove("fa-compress")
                    elIcon.classList.add("fa-expand")
                } else {
                    elIcon.classList.remove("fa-expand")
                    elIcon.classList.add("fa-compress")
                }
            })
        })
    </script>

    <script>
// Re-attach roots if WebSocket request served by different machine
let reattachRoots = function() {
    // TODO: Correct this method to work with new layout
    return

    // Find template roots
    let classNames = ["control-panel", "series-panel", "time-panel", "colorbar-panel"];
    let parents = classNames.reduce(function(data, className) {
        data[className] = document.getElementsByClassName(className)[0];
        return data
    }, {})
    if (parents[classNames[0]].children[0].innerHTML !== "") {
        // First template root populated correctly
        return
    }

    // Find orphan roots
    let roots = document.getElementsByClassName('bk-root')
    let orphans = [...roots].filter((r) => !('data-root-id' in r.attributes))
    if (orphans.length === 0) {
        // No orphans to re-home
        return
    }

    // NOTE: Order important since orphaned roots have no data-root-id attr
    parents['control-panel'].appendChild(orphans[0])
    parents['series-panel'].appendChild(orphans[1])
    parents['time-panel'].appendChild(orphans[2])
    parents['colorbar-panel'].appendChild(orphans[3])
}

// Trigger KeyPress.hidden_button if present
let triggerHiddenButton = function() {
    let els = document.getElementsByClassName('keypress-hidden-btn')
    if (els.length > 0) {
        btns = els[0].getElementsByTagName('button')
        btns[0].click()
    }
}

oldLog = console.log;
console.log = function(message) {
    if (typeof message.localeCompare === "undefined") {
        return oldLog.apply(null, arguments);
    }
    if (message.localeCompare('Bokeh items were rendered successfully') == 0) {
        console.log = oldLog;
        reattachRoots();
        triggerHiddenButton();
    } else {
        oldLog.apply(null, arguments);
    }
}
    </script>
{% endblock %}
